@import "tailwindcss";

/* @layer base {
  html {
    @apply text-white;
  }
} */

@theme {
  --color-primary-600: oklch(98.5% 0.001 106.423);
  --color-secondary-300: oklch(70.5% 0.015 286.067);
  --color-back-300: oklch(62.3% 0.214 259.815);
}

body {
  background-color: oklch(12.9% 0.042 264.695);
  font-family: "Roboto", sans-serif;
}
