@import "tailwindcss";

@layer base {
  html {
    @apply text-white;
  }
}

@theme {
  --color-primary-600: oklch(12.9% 0.042 264.695);
  --color-secondary-300: oklch(44.2% 0.017 285.786);
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
